---
layout: base.njk
map:
    width: 576
    height: 247
    format: jpeg
    zoom: 17
    api: https://dev.virtualearth.net/REST/V1/Imagery/Map/Aerial
---
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <picture>
                    {% for breakpoint in [1200, 992, 768, 576] %}
                        {% set height = (breakpoint / 27) * 9 %}
                        {% set location = geo[0] | string | trim + ',' + geo[1] | string | trim %}
                        {% set mapSize = 'mapSize=' + breakpoint + ',' + height | round %}
                        {% set format = 'format=' + map.format %}
                        {% set key = 'key=' + bing.api %}
                        {% set url %}
                            {{ map.api }}/{{location}}/{{map.zoom}}/?{{mapSize}}&{{format}}&{{key}}
                        {% endset %}
                        <source 
                            srcset="{{url}}" 
                            media="(min-width: {{ breakpoint }}px)">
                    {% endfor %}
                    <img 
                        class="img-fluid w-100"
                        src="{{ map.api }}/{{ geo[0] | string | trim }},{{ geo[1] | string | trim }}/{{ map.zoom }}?mapSize={{ map.width }},{{ map.height }}&format={{format}}&key={{bing.api}}" 
                        alt="Bing Map of {{ orgunit }}">
                </picture>
            </div>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-9 offset-3 bg-white">
                <h1>{{ orgname }}</h1>
            </div>
        </div>
        <div class="row mt-2 bg-white">
            <div class="col-3 text-right">
                <address class="text-secondary">
                    {{ orgunit }}<br />
                    {% if locality %}
                        {{ locality | upper }}<br />
                    {% endif %}
                    {{ region }}<br />
                    {% if postalcode %}
                        {{ postalcode | upper }}
                    {% endif %}
                </address>
            </div>
            <div class="col-9">
                <p class="lead">
                    {{ orgname }} are a non-league football team who play at 
                    {{ orgunit }}
                    {% if region %}
                    , <a href="/region/{{region | slug}}">{{ region }}</a>
                    {% endif %}.</p>
                <p>
                    In 2019/20 the club are playing in the 
                        <a href="/league/{{ league | slug }}">{{ league }}</a>.
                </p>
            </div>
        </div>
    </div>
