---
layout: base.njk
map:
    width: 576
    height: 247
    format: png
    zoom: 17
    api: https://dev.virtualearth.net/REST/V1/Imagery/Map/Aerial/
---
    <div class="container-fluid">
        <div class="row">
            <div class="col p-0">
                <picture>
                    {% for breakpoint in [1200, 992, 768, 576] %}
                        {% set height = (breakpoint / 27) * 9 %}
                        <source 
                            srcset="{{map.api}}{{geo}}/{{map.zoom}}?mapSize={{breakpoint}},{{height | round}}&format={{map.format}}&key={{bing.api}}" 
                            media="(min-width: {{breakpoint}}px)">
                    {% endfor %}
                    <img 
                        class="img-fluid w-100"
                        src="{{ map.api }}{{ geo }}/{{ map.zoom }}?mapSize={{ map.width }},{{ map.height }}&format={{format}}&key={{bing.api}}" 
                        alt="Bing Map of {{ geo }}">
                </picture>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row mt-4">
            <div class="col-9 offset-3 bg-white">
                <h1>{{ orgname }}</h1>
            </div>
        </div>
        <div class="row mt-2 bg-white">
            <div class="col-3 text-right">
                <address class="text-secondary">
                    {{ orgunit }}<br />
                    {% if locality %}
                    {{ locality | upper }}<br />
                    {% endif %}
                    {{ region }}<br />
                    {{ postalcode | upper }}
                </address>
            </div>
            <div class="col-9">
                <p class="lead">
                    {{ orgname }} are a non-league football team who play at 
                    {{ orgunit }}
                    {% if region %}
                    , <a href="/region/{{region | slug}}">{{ region }}</a>
                    {% endif %}.</p>
                <p>
                    In 2019/20 the club are playing in the 
                        <a href="/league/{{ league | slug }}">{{ league }}</a>.
                </p>
            </div>
        </div>
    </div>
