---
layout: base.njk
---
<div class="container">
    <div class="jumbotron">
        <h1>{{ sponsor }} {{ title }}</h1>
    </div>
    <div class="row">
        <div class="col">
            {% set league = title | slug %}
            <ul>
            {% for club in collections[league]   %}
                <li><a href="/club/{{ club.data.orgname | slug }}">{{ club.data.orgname }}</a></li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>


