---
layout: base.njk
---
<div class="container">
    <div class="jumbotron">
        <h1>{{ title }}</h1>
    </div>
<div class="row">
    <div class="col">
        {% set region = title | slug %}
        <ul>
        {% for club in collections[region] %}
            <li>
                <a href="/club/{{ club.data.orgname | slug }}">{{ club.data.orgname }}</a><br/>
                <span class="text-secondary">{{ club.data.orgunit }}</span>
            </li>
        {% endfor %}
        </ul>
    </div>
</div>
</div>


