---
title: Non-League Grounds
layout: base.njk
map:
    width: 640
    height: 360
    format: png
    zoom: 18
    api: https://dev.virtualearth.net/REST/V1/Imagery/Map/Aerial/
---

<div class="container mt-4">
    {% for league in leagues %}
        <div class="row">
            <div class="col">
                <h2 id="{{ league.name | slug }}">
                    <span class="sponsor">{{ league.sponsor }}</span> {{ league.name }}
                </h2>
                {% for division in league.divisions %}
                    <h3 class="h4">{{ division.name }}</h3>
                    <ul>
                    {% for club in clubs %}
                        {% if club.division.id == division.id %}
                        <li>
                            <a href="/club/{{ club.orgname | slug }}">
                                {{ club.orgname }}
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    </ul>
                {% endfor %}
            </div>
        </div>
    {% endfor %}
</div>